@import "../colors";

#comic {
  .comic {
    &__container {
      margin-left: 7em;
      margin-right: 7em;
    }

    &__list {
      &-item {
        &-description {
          background-color: #fff;
          font-size: 14px;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 168px;
        }

        .icon {
          position: absolute;
          top: 8px;
          right: 8px;
        }

        position: relative;
      }

      &-item:hover {
        border-bottom: 3px solid $primary-color;
        opacity: 50%;
      }

      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      padding-top: 20px;
      width: 100%;
    }

    &__pagination {
      a[class^='pagination']:not(.is-current) {
        background-color: white;
      }

      .is-current {
        background-color: $primary-color;
        border-color: $primary-color-2;
      }

      .pagy-info {
        color: white;
      }

      padding-bottom: 10px;
    }

    .is-secondary-bg {
      background-color: $secondary-color;
      color: white;
    }
  }
}
