<header id="header">
  <div class="header__wrapper">
    <%= link_to 'comic', class: 'header__logo' do %>
      <%= image_tag 'marvel_logo.png' %>
    <% end %>

    <div class="header__search-bar">
      <input type="text">
    </div>
  </div>
</header>
